
nav.navbar {
  height: 54px;
  background: #283e4a;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000;
  .navbar-title {
    color: white;
    display: block;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    line-height: 40px;
    font-size: 30px;
  }
}
