<!-- NAVBAR -->
<nav class='navbar'>
    <div class='container'>
        {{link-to 'Next' 'index' classNames='btn btn--mode-primary pull-right'}}
        <span class="navbar-title">Welcome to Ember.js</span>
    </div>
</nav>


{{outlet}}