
<div class='container'>

    <!-- INTRODUCTION BOX -->
    <div class='content-box'>

        <!-- INTRODUCTION -->
        <h3>Introduction</h3>
        <p>Ember.js is an opinionated web framework, that aims to improve developer productivity by reducing the number of decisions
            they're forced to make.</p>
        <p>
            This is a web-based, interactive introduction to some important core concepts that will help you get up and running as quickly
            as possible!
        </p>

        <!-- ABOUT THIS EDITOR -->
        <h3>About this editor</h3>
        <p>
            The editor we'll use throughout this tutorial is called <a href="https://ember-twiddle.com/" target='_blank'>Ember Twiddle</a>, and it closely resembles what your experience will be like working
            with a typical <a href="https://ember-cli.com/" target="_blank">ember-cli</a> project. It's comprised of three main areas:
        </p>
        {{embed-image src="/img/twiddle.png" title="The layout of ember-twiddle"}}

        <p>
            To change some of the HTML in the example below, begin by finding <code>templates/application.hbs</code> in the file
            tree on the left. As long as the HTML you write is <a href="https://validator.w3.org/#validate_by_input" target="_blank">valid</a>,
            you should see your changes reflected in the running app to the right after a moment.
        </p>
    </div>

    {{!--<div class="content-box">--}}
    {{embed-twiddle}}
    {{!--</div>--}}
</div>